@font-face {
    font-family: "AmaticSC-Regular";
    src: url(../fonts/AmaticSC-Regular.ttf) format("truetype");
}

body{
	background-color: grey;

}

.mar{
	min-width: 95%;
	max-width: 100%;
}

.titulos{
	font-family: AmaticSC-Regular;
	color: black;
	text-align: center;
	font-size: 20px;

}
